<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.store.mapper.CartMapper">
	<insert id="add" parameterType="cn.tedu.store.bean.Cart"
		 useGeneratedKeys="true" keyProperty="id">
		insert into t_cart(
					user_id,
					goods_id,
					goods_title,
					goods_image,
					goods_price,
					num)
		values(#{userId},#{goodsId},#{goodsTitle}
			,#{goodsImage},#{goodsPrice},#{num}
		)
	</insert>
<select id="getCartList" resultType="cn.tedu.store.bean.Cart">
	select
		user_id userId,
		goods_id goodsId,
		goods_title goodsTitle,
		goods_image goodsImage,
		goods_price goodsPrice,
		num
	from t_cart
	where user_id=#{uid}
</select>




</mapper>